@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,200;1,400&display=swap');

$maincolor: #52503B;
$bgcolor: #FAF8F0;
$titlecolor: white;
$chiziqrangi: #E08631;
$sayt_fonti: 'Montserrat', sans-serif;
$otkircolor: #333333;